<div
  class="product-card"
  :class="{
    'product-card--inactive': body._id && !isActive,
    'product-card--small': isSmall
  }"
  @mouseover="isHovered = true"
  :data-product-id="body._id"
  :data-sku="body.sku"
  
>

  <transition :enter-active-class="transitionClass">
    <section v-if="!isLoading">
      <slot
        name="discount-tag"
        v-bind="{ discount }"
      >
        <span
          v-if="isActive && discount > 0"
          class="product-card__offer-stamp"
        >
          <i class="i-arrow-down"></i> <b>{{ discount }}</b>%
        </span>
      </slot>
      <slot name="stamps" />

      <slot name="body">
        <a-link
          class="product-card__link position-relative"
          :href="`/${body.slug}`"
          :title="name"
        > 
          
          <div class="apx_tags" :key="rng" v-if="getTags()">
            <div v-for="(item, index) in getTags()" :key="index" :class="index">
              <div v-for="(item_, index_) in item">                
                <span class="text_tag" v-if="!item_.img" :style="'--bg_:' + item_.background_color +'; --cl_:' + item_.color + ';--bd_:' + item_.border">
                  {{item_.title}}
                </span>
              </div>
              
            </div>
            
          </div>
          <slot name="header"/>

          <div class="product-card__pictures">
            <a-picture
              v-if="selectedPicture"
              class="product-card__picture"
              :src="selectedPicture"
              :can-calc-height="false"
              :key="variationImagesKey"
              :containerBreakpoints="{zoom:null, big:400, normal:200}"
            />
            <template v-else="body.pictures && body.pictures.length">
              <a-picture
                class="product-card__picture"
                v-for="(picture, index) in body.pictures.slice(0, 1).reverse()"
                :containerBreakpoints="{zoom:null, big:400, normal:200}"
                :key="index"
                :src="picture"
                :can-calc-height="false"
              />
            </template>
            <a-picture
              v-else
              class="product-card__picture"
            />
          </div>

          
        </a-link>
      </slot>

      <div class="p-md-3 p-2">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <slot name="title">
              <span>
                <a-link
                  class="product-card__name-link"
                  :href="`/${body.slug}`"
                  :title="name"
                > 
                  <component
                    :is="headingTag"
                    class="product-card__name"
                    v-html="name"
                  >     
                  
                  </component>
              </a-link>
              </span>           
            </slot>

            <slot name="rating">
              <div
                v-once
                class="product-card__rating"
                :data-sku="body.sku"
                v-html="ratingHtml"
              ></div>
            </slot>
      
            <slot
              name="unavailable"
              v-if="!body.available || !body.visible"
            >
              <p class="badge badge-warning mt-auto">
                {{ i19unavailable }}
              </p>
            </slot>
      
            <slot
              name="out-of-stock"
              v-else-if="!isInStock"
            >
              <p class="badge badge-dark mt-auto">
                {{ i19outOfStock }}
              </p>
            </slot>
      
            <slot
              name="without-price"
              v-if="isWithoutPrice"
            >
              <p class="badge badge-info mt-auto">
                {{ i19uponRequest }}
              </p>
            </slot>
      
            <template v-else>
              <slot name="prices">
                <a-prices
                  class="product-card__prices text-right justify-content-end align-items-center d-flex gap-1 flex-row"
                  :product="body"
                  :installments-option="installmentsOption"
                  :discount-option="discountOption"
                />
              </slot>
      
              <div
                @click="buy"
                class="product-card__buy fade"
                v-if="1 != 1"
              >
                <slot name="buy">
                  <div
                    v-if="buyHtml"
                    v-html="buyHtml"
                  ></div>
      
                  <button
                    type="button"
                    class="btn btn-primary"
                    :class="isSmall ? 'btn-sm': 'btn-block'"
                    :disabled="isWaitingBuy"
                  >
                    <span
                      v-if="isWaitingBuy"
                      class="product-card__buy-loading spinner-grow spinner-grow-sm"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </span>
      
                    <slot name="buy-button-content">
                      <i class="i-shopping-bag mr-1"></i>
                      {{ strBuy }}
                    </slot>
                  </button>
                </slot>
              </div>
            </template>  
          </div>  
          <div class="apx_listing_colors" v-if="body.variationsGrids && body.variationsGrids.colors">
            <button v-for="color in body.variationsGrids.colors.slice(0,isMobile() ? 1 : 3)" @click="setListingItemImages(color)" type="button" :title="color"
            :class="selectedColor == color ? 'selected' : ''"
            >
              <span class="cms_ico color" v-if="getCMSPropInfo(color) && getCMSPropInfo(color).img">
                <img :src="getCMSPropInfo(color).img"/>
              </span>
              <span class="cms_ico color" v-else-if="getCMSPropInfo(color) && (getCMSPropInfo(color).color_1 || getCMSPropInfo(color).color_2 || getCMSPropInfo(color).color_3)">
                <span v-if="getCMSPropInfo(color).color_1" :style="'background-color:' + getCMSPropInfo(color).color_1"></span>
                <span v-if="getCMSPropInfo(color).color_2" :style="'background-color:' + getCMSPropInfo(color).color_2"></span>
                <span v-if="getCMSPropInfo(color).color_3" :style="'background-color:' + getCMSPropInfo(color).color_3"></span>
              </span>
              <span class="color" v-else-if="getHexColor(color) && getHexColor(color).specifications.colors && getHexColor(color).specifications.colors[0].value" :style="'background-color:' + getHexColor(color).specifications.colors[0].value"></span>
            </button>
            <span v-if="body.variationsGrids.colors.length > 3">+{{ body.variationsGrids.colors.length - (isMobile() ? 1 : 3)}}</span>
          </div>
        </div>        
      </div>
        
      
      <slot name="favorite">
        <a 
          class="btn product-card__favorite fade"
          @click="toggleFavorite"
          :href="isLogged ? null : accountUrl"
        >
          <span

          :class="isFavorite ? 'active' : null">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 7.5C7.5 6.11929 8.61929 5 10 5H20C21.3807 5 22.5 6.11929 22.5 7.5V26.25L15 18.75L7.5 26.25V7.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
  
        </a>      
      </slot>

      <slot name="footer">
        <div
          v-if="footerHtml"
          v-html="footerHtml"
        ></div>
      </slot>

      
    </section>
  </transition>

  <template v-if="isLoading">
    <slot/>
    <div
      v-if="error"
      class="alert alert-warning small"
      role="alert"
    >
      {{ error }}
    </div>
  </template>

  <div ref="quickview"></div>
</div>